# Virtual environments
.venv/
venv/
env/
ENV/

# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Django database
db.sqlite3
db.sqlite3-journal

# Django local static files
staticfiles/

# Secrets and environment configurations
.env

# Editor and IDE configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.log
